@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #ececec;
}

.text{
    font-family:'Mr Dafoe', cursive; ;
    font-size: 18rem;
    text-align: center;
    text-shadow: 0-3px 0 #333,
                0 6px 8px rgba(0, 0, 0, 0.4),
                0 9px 10px rgba(0, 0, 0, 0.15),
                0 30px 10px rgba(0,0,0,0.18),
                0 15px 10px rgba(0, 0, 0, 0.21)
                
}
